<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file is protected by Copyright.
    Please refer to the COPYRIGHT file distributed with this source distribution.

    This file is part of REDHAWK IDE.

    All rights reserved.  This program and the accompanying materials are made available under
    the terms of the Eclipse Public License v1.0 which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html.
 
-->
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="gov.redhawk.explorer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="gov.redhawk.explorer.ScaExplorerPerspective"
            fixed="false"
            id="gov.redhawk.explorer.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="gov.redhawk.explorer.application"
            name="REDHAWK Explorer">
         <property
               name="appName"
               value="REDHAWK Explorer">
         </property>
         <property
               name="aboutImage"
               value="icons/alt_about.gif">
         </property>
         <property
               name="aboutText"
               value="%productBlurb">
         </property>
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="%activity.description"
            id="gov.redhawk.explorer.activity.hidden"
            name="%activity.name">
         <enabledWhen>
            <with
                  variable="gov.redhawk.explorer.with2">
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.ui\.edit\.text\.delimiter.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.text.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.ui\.externaltools/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.search/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.ui\.ide/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.ui\.ide/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.team\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.debug\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="com\.tasc\.swb\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="com\.tasc\.nxm/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="com\.tasc\.swb\.help/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="org.eclipse.platform/org.eclipse.platform.team">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.file.import">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.file.export">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.newWizard">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            pattern="org\.eclipse\.emf\.validation\.ui/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="gov.redhawk.explorer.activity.hidden"
            isEqualityPattern="true"
            pattern="gov.redhawk.plotter.application/gov.redhawk.product.plotter.perspective">
      </activityPatternBinding>
   </extension>

</plugin>
