<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="REDHAWK EXPLORER Target" sequenceNumber="82">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nxm.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/nxm/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.io.source" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.apache.log4j.source" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/orbit"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.lang.source" version="0.0.0"/>
<unit id="org.eclipse.wst.common.fproj.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_ui.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.notation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.server_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.wst.xml_core.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/juno"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.core.feature.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/redhawk/target/1.8/redhawk-core"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.ibm.icu.base.feature.group" version="0.0.0"/>
<unit id="org.eclipse.core.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.sdk.id" version="0.0.0"/>
<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.junit.runtime.addon.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/eclipse/juno-3.8"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="nxm.rcp.ui.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/nxm-ui-build/nxm.rcp.ui/develop/latest"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.common.sdk.feature.group" version="0.0.0"/>
<unit id="org.jacorb.systemFragment.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.common/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="gov.redhawk.rcp.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/gov.redhawk.rcp/SNAPSHOT/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="mil.jpeojtrs.sca.sdk.feature.group" version="0.0.0"/>
<repository location="http://pinkman.villains.techma.com/p2/tycho/mil.jpeojtrs.sca/SNAPSHOT/"/>
</location>
</locations>
</target>
